<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login MediaRent</title>
    <link rel="stylesheet" href="/styles/componentes/buttons.css" />
    <link rel="stylesheet" href="/styles/componentes/forms.css" />
    <link rel="stylesheet" href="/styles/vistas/index.css" />
    <link rel="stylesheet" href="/styles/componentes/general.css" />
    <link rel="stylesheet" href="/styles/componentes/header.css" />
  </head>

  <body>
    <div class="container welcome-page">
      <header class="header">
        <div class="header__main">
          <img
            src="/images/logo.png"
          />
          <div>
            <h2>MediaRent</h2>
            <p>Federico Deniard</p>
            <p>Delfina Garcia Ocampo</p>
          </div>
        </div>
      </header>
      <div class="container">
        <h1 class="welcome-page__title">
          ¡Bienvenido al panel de administrador!
        </h1>
        <form
          class="welcome-page__form form"
          action="/api/admin/"
          method="POST"
        >
          <label>
            <input
              type="text"
              name="username"
              minlength="4"
              required
              placeholder="Ingrese su nombre de usuario"
            />
          </label>
          <label>
            <input
              type="password"
              name="password"
              minlength="8"
              required
              placeholder="Ingrese su contraseña"
            />
          </label>
          <span class="error-message" id="error-message"> adads </span>
          <button type="submit" class="button">Continuar</button>
        </form>
      </div>
    </div>
    <!-- <script src="../scripts/mvc/admin/login.js" type="module"></script> -->
  </body>
</html>
